body{
    font-family:'Raleway', Times, sans-serif;
    margin: 0px;
    padding: 0px;
}
#container{
  width: 90%;
  margin: auto;
}
#navbar {
    background-color: #222;
}

#logo {
    padding: 5px 20px;
}

section {

}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.inline li {
    display: inline;
}

.white {
    color: #fff;
}
#sec-about{
    width: 100%;
    height: 800px;
    background-color: #E7F8FB ;

}
.left-con{
    width: 65%;
    box-sizing: border-box;
    padding: 70px;;
}
h1{
    font-size:3rem;
}
.left-con h3{
    color: gray;
    font-size: 1.5rem;
    width: 80%;
}
.r-img {
    width: 35%;
    height: 100%;
}
.r-img img{
width: 100%;
height: 100%;
}
.inline {
    display: flex;
    flex-wrap: wrap;

}

.s-ser{
margin-top: 50px;
width: 50%;
height: 100px;
box-sizing: border-box;

}

.s-ser p{
    color: gray;
    padding-left: 40px;
    padding-top: 10px;
    width: 90%;

}
.icons{
    font-size: 1.9em;
    display: block;
}

#sec-about button{
    margin-top: 50px;
    padding: 20px;
    border: 2px solid gray ;
    border-radius: 50px;
    width: 170px;
    font-weight: bold;
    color: black;
    background-color: #E7F8FB ;
    letter-spacing: 3px;
    transform: scale(1.2);

}
#sec-about button:hover{
  
    transform: scale(1.3);
    color: white;
    border-color: #E7F8FB ;
    background-color: #1d97a2;
}
#sec-team{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;

}
#sec-team h1{
    margin-top: 40px;
}



@media (max-width: 600px) {
    #sec-about{
        height: 900px;
    }
    .inline {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    
    }
    .s-ser{
        width: 100%;
        margin: 1rem;

    }
    .left-con{
        width: 100%;
        text-align: center;
        padding: 35px;
        /* margin: 50px; */
    }
    .r-img{
        display: none;
    }
    .s-ser{
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        text-align: center;
        
        }
        
        .s-ser p{
            text-align: left;
            width: 100%;
    
        
        }
        #sec-about button{
            text-align: center;
            transform: scale(0.9);
            background-color: #1d97a2;
            color: white;
            margin:30px  auto;
        }
        .left-con h3{
            color: gray;
            font-size: 1.2rem;
            width: 100%;
        }
        .icons{
            font-size: 1.2rem;
        }
        
        .s-ser p{
        padding-top: 0px;
       padding-left: 0px;    

        }
         h1 {
            font-size: 2rem;
        }
        #container{
            width: 100%;}
        

            .left-con h3{
                text-align: left;
                padding-left: 20px;
            }

}
